/*    Estilos    */

:root{
    --brand-100: #F61C0D;
    --brand-80: #C4302B;
    --brand-60: #DB4437;
    --brand-40: #E57368;    
    --brand-20: #ED9D97;

    --brand-b100: #196AEF;
    --brand-b80: #4285F4;
    --brand-b60: #76A7FA;
    --brand-b40: #A0C3FF;
    --brand-b20: #DEF1FF;

    --neutral-00: #ffffff;
    --neutral-10: #ECECF0;
    --neutral-20: #E1E1E8;
    --neutral-40: #8A8A9C;
    --neutral-50: #3F3F56;
    --neutral-60: #2B2B42;
    --neutral-70: #1C1C28;
    --neutral-80: #333333;
    --neutral-90: #1a1a1a;
    --neutral-100: #0c0c0f;

    --success-50: #7AD475;
    --success-100: #28A745;
    --success-200: #095E15;

    --warning-50: #FFCF7A;
    --warning-100: #FFC107;
    --warning-200: #A17600;

    --danger-50: #B283EA;
    --danger-100: #9933CC;
    --danger-200: #590B70;

    --info-50: #6BDCDE;
    --info-100: #17A2B8;
    --info-200: #045A66;
   
    --nautral-alpha-light-10: rgba(255, 255, 255, 0.264);
    --neutral-alpha-light-30: rgba(255, 255, 255, 0.3);
    --neutral-alpha-light-50: rgba(255, 255, 255, 0.5);
    --neutral-alpha-light-60: rgba(255, 255, 255, 0.6);
    --neutral-alpha-light-80: rgba(255, 255, 255, 0.8);
    --neutral-alpha-light-90: rgba(255, 255, 255, 0.9);

    --neutral-alpha-dark-00: rgba(0, 0, 0, 0.0);
    --neutral-alpha-dark-10: rgba(0, 0, 0, 0.1);
    --neutral-alpha-dark-30: rgba(0, 0, 0, 0.3);
    --neutral-alpha-dark-50: rgba(0, 0, 0, 0.5);
    --neutral-alpha-dark-70: rgba(0, 0, 0, 0.7);
    --neutral-alpha-dark-90: rgba(0, 0, 0, 0.9);

}

h1{font-size: 6rem;}

h2{font-size: 4rem;}

h3{font-size: 3rem;}

h4{font-size: 2rem;}

h5{font-size: 1.5rem;}

h6{font-size: 1.25rem;}

/* */

body{
    padding: 0em;
    margin: 0em;
    font-family: sans-serif;
    background-color: var(--neutral-100);
}


/* Navigation bar */

.navigation-bar{
    background-color: var(--neutral-100);
    position: fixed;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#container-navigation{
    width: 8rem;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
#container-search{
    height: 2.1rem;
    width: 38rem;
    display: flex;
    justify-content: space-between;
    
}    
    

.container{
    display: flex;
    align-self: center;
}


.search{
    height: 2.5rem;
    width: 35rem;
    background-color: var(--neutral-100);
    display: flex;
    justify-content: flex-end;
   
}

.search input{
    height: 1rem;
    width: 25rem;
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    border: 0.75px;
    border-style: solid;
    border-color: var(--neutral-60);
    background-color: var(--neutral-100);
    padding: 1rem;
    color: var(--neutral-40);
    font-size: 0.85rem;

}

.search input:focus{
    height: 1rem;
    width: 26.5rem;
    outline: none;
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    border: 0.75px;
    border-style: solid;
    border-color: var(--brand-b100);
    background-color: var(--neutral-100);
    padding: 1rem;
    padding-left: 2.5rem;
    color: var(--neutral-40);
    font-size: 0.85rem;
    background-image: url('busqueda.png');
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: .75rem;
}

.search button{
    height: 2.09rem;
    width: 3.25rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    background-color: var(--neutral-80);
    border: 0.75px;
    border-left-style: none ;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--neutral-60);
    color: var(--neutral-00);
    
}

.action button{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    position: static;
    background-color: var(--neutral-100);
    color: var(--neutral-00);
    border-style: none;
    margin-left: 0.3rem;
    overflow: hidden;
    padding: 0rem;
}

.tool{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    position: static;
    background-color: var(--neutral-90);
    border-style: none;
    margin-left: 0.3rem;
    overflow: hidden;
    padding: 0rem;
    }

.tool:hover{
    background-color: var(--neutral-80);
    }

.navigation-bar .action button:hover{
    background-color: var(--neutral-alpha-light-30);
}


/* Videos página principal */

.lista-videos{
    background-color: var(--neutral-100);
    padding: 3.5rem;
    font-family: sans-serif;
    color: var(--neutral-00);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videos{
    width: 19rem; 
    background: var(--neutral-100);
    margin:1rem;
    border-radius: 1rem;   
}

.videos .photo:hover {
    border-radius: 0rem;
}

.videos .photo{
    background-color: var(--brand-20);
    height: 12rem;
    overflow: hidden;
    border-radius: 1rem;
    transition: all 800ms ease;
    
}



/* info */

.videos .info{
    background-color: var(--neutral-100);
    padding-top: 0.5rem;
}

div:hover .videos .info .datos-principales button{
    visibility: visible;
}

.videos .datos-principales{
    height: 2rem;
    background-color: var(--neutral-100);
    display: flex;
    justify-content: space-between;
    transition: all 800ms ease;
}

.videos .info p{
    color: var(--neutral-100);
    margin-bottom: 1rem;
}

.datos-principales span{
    background-color: var(--neutral-100);
    height: 2rem;
    padding-right: 0rem;
}

.videos .info .datos-principales .canal button{

    height: 2rem;
    width: 2rem;
    border-radius: 100rem;  
    border-style: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0rem;
}

.videos .info .datos-principales .titles button{
    width: 14.5rem;
    font-size: 1rem;
    color: var(--neutral-00);
    background-color: var(--neutral-100);
    text-align: left;
    border-style: none;
}

.videos .info .datos-principales .menu-button button{
    background-color: var(--neutral-100);
    color: var(--neutral-00);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100rem;
    border-style: none;
    visibility: hidden;
    
}

.videos .info .datos-secundarios li {
    font-size: 0.75rem;
    color: var(--neutral-40);
    text-align: left;
    padding-top: 0.25rem;
    padding-left: 2.7rem;
    list-style: none;
}