.your-style1 {
    font-family: 'YouTube Sans Dark';
    font-weight: 500;
    font-style: normal;
    font-size: 1.6em;
}

.your-style2 {
    font-family: 'YouTube Sans Dark';
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
}

.tag {
    font-family: 'YouTube Sans Dark';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875em;
}

.suscriptores {
    font-family: 'YouTube Sans Dark';
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.ligas {
    font-family: 'YouTube Sans Dark';
    font-weight: bold;
    font-style: normal;
    font-size: 0.875em;
    color: 3ea6ff;
    

.container{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 225;
    height: 250;
    padding: 8px;
    margin: 4px;
    background-color: 0%, 0%, 7%;
    
}

.enlace{
    height: 18px;
    width: 146px;
    background-color: 255, 255, 255, 0.3;
    border-radius: 18rem;
    border-style: none;
    font-family: 'YouTube Sans Dark';
    font-weight: bold;
    font-style: normal;
    font-size: 0.875em;
    color: 3ea6ff;
    margin: 40px 65px;
    padding: 0.65rem;
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.enlace:hover{
    color: 3ea6ff;
    background-color: 4285F4;
    opacity: 30%;
    color: 3ea6ff;


}

.img{
    width: 219;
    height: 123;
    border-width: .2px;
    border-color: b3b3b3 solid;

}
    
    /* Menu desplegable*/

.menu-container{
    width: 240px;
    height: auto;
    padding: 12px;
    background-color: #1A1A1A;
    font-family: 'YouTube Sans Dark';
    font-weight: 400;
    font-style: normal;
    font-size: .90em;
    
}

.box-container{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-vertical >li>a {
    display: block;
    padding: 10px 8px;
    color: #ffffff;
    text-decoration: none;

}
