:root{
    --brand-100: #F61C0D;
    --brand-80: #C4302B;
    --brand-60: #DB4437;
    --brand-40: #E57368;    
    --brand-20: #ED9D97;

    --brand-b100: #196AEF;
    --brand-b80: #4285F4;
    --brand-b60: #76A7FA;
    --brand-b40: #A0C3FF;
    --brand-b20: #DEF1FF;

    --neutral-00: #ffffff;
    --neutral-10: #ECECF0;
    --neutral-20: #E1E1E8;
    --neutral-40: #B3B3B3;
    --neutral-50: #808080;
    --neutral-60: #2B2B42;
    --neutral-70: #4d4d4d;
    --neutral-80: #333333;
    --neutral-90: #1a1a1a;
    --neutral-100: #0c0c0f;

    --success-50: #7AD475;
    --success-100: #28A745;
    --success-200: #095E15;

    --warning-50: #FFCF7A;
    --warning-100: #FFC107;
    --warning-200: #A17600;

    --danger-50: #B283EA;
    --danger-100: #9933CC;
    --danger-200: #590B70;

    --info-50: #6BDCDE;
    --info-100: #17A2B8;
    --info-200: #045A66;
   
    --nautral-alpha-light-10: rgba(255, 255, 255, 0.264);
    --neutral-alpha-light-30: rgba(255, 255, 255, 0.3);
    --neutral-alpha-light-50: rgba(255, 255, 255, 0.5);
    --neutral-alpha-light-60: rgba(255, 255, 255, 0.6);
    --neutral-alpha-light-80: rgba(255, 255, 255, 0.8);
    --neutral-alpha-light-90: rgba(255, 255, 255, 0.9);

    --neutral-alpha-dark-00: rgba(0, 0, 0, 0.0);
    --neutral-alpha-dark-10: rgba(0, 0, 0, 0.1);
    --neutral-alpha-dark-30: rgba(0, 0, 0, 0.3);
    --neutral-alpha-dark-50: rgba(0, 0, 0, 0.5);
    --neutral-alpha-dark-70: rgba(0, 0, 0, 0.7);
    --neutral-alpha-dark-90: rgba(0, 0, 0, 0.9);
}

body{
    margin: 0rem;
    padding: 0rem;
    font-family: sans-serif;
    background-color: var(--neutral-100);
}

.elements-contain{
    width: 100%;
    padding: 1rem;
    margin: 0rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--neutral-100);
}

.info-player{
    width: 45rem;
    height: 35rem;
    
}

.player{
    width: 45rem;
    height: 25.5rem;
    background-color: var(--neutral-100);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-player{
    width: 45rem;
    height: 1.15rem;
    
    margin-top: 0.75rem;
    font-size: 1rem;
    font-weight:bold;
    color: var(--neutral-00);
}

/* Navigation bar */

.navigation-bar{
    background-color: var(--neutral-100);
    position: fixed;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
}

#container-navigation{
    width: 8rem;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
#container-search{
    height: 2.1rem;
    width: 38rem;
    display: flex;
    justify-content: space-between;
    
}    
    

.container{
    display: flex;
    align-self: center;
}


.search{
    height: 2.5rem;
    width: 35rem;
    background-color: var(--neutral-100);
    display: flex;
    justify-content: flex-end;
   
}

.search input{
    height: 1rem;
    width: 25rem;
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    border: 0.75px;
    border-style: solid;
    border-color: var(--neutral-60);
    background-color: var(--neutral-100);
    padding: 0.95rem;
    color: var(--neutral-40);
    font-size: 0.85rem;

}

.search input:focus{
    height: 1rem;
    width: 26.5rem;
    outline: none;
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    border: 0.75px;
    border-style: solid;
    border-color: var(--brand-b100);
    background-color: var(--neutral-100);
    padding: 0.95rem;
    padding-left: 2.5rem;
    color: var(--neutral-40);
    font-size: 0.85rem;
    background-image: url('busqueda.png');
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: .75rem;
}

.search button{
    height: 1.99rem;
    width: 3.25rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    background-color: var(--neutral-80);
    border: 0.75px;
    border-left-style: none ;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--neutral-60);
    color: var(--neutral-00);
    
}

.action button{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    position: static;
    background-color: var(--neutral-100);
    color: var(--neutral-00);
    border-style: none;
    margin-left: 0.3rem;
    overflow: hidden;
    padding: 0rem;
}

.tool{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    position: static;
    background-color: var(--neutral-90);
    border-style: none;
    margin-left: 0.3rem;
    overflow: hidden;
    padding: 0rem;
    }

.tool:hover{
    background-color: var(--neutral-80);
    }

.navigation-bar .action button:hover{
    background-color: var(--neutral-alpha-light-30);
}

.access button{
        height: 1.85rem;
        width: 5.5rem;
        background-color: var(--neutral-100);
        border-radius: 1rem;
        border-style: solid;
        border-color: var(--neutral-60);
        border-width: thin;
        font-size: 0.7rem;
        font-weight: bold;
        color: var(--brand-b100);
        padding-left: 2rem;
        background-image: url('access.png');
        background-repeat: no-repeat;
        background-position: 0.7rem;
        background-size: 0.9rem;
        display: flex;
        align-items: center;
        text-align: left;
    }

.access button:hover{
    background-color: var(--brand-b40);
    opacity: 0.6;
    
}    

/*Información de video*/

.top-row{
    width: 45rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.info-canal{
    width: 18rem;
    height: 2.5rem;
    
    display: flex;
    align-items: center;
    flex-direction: row;
}

.canal-imagen{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    background-image: url(maneskin.jpeg);
    background-size: cover;
}

.canal-datos{
    width: 7.75rem;
    height: 1.75rem;
    
    display: flex;
    flex-direction: column;
    margin-left: 0.25rem;
}

.canal-nombre{
    height: 1.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--neutral-00);
    
}

.canal-suscriptores{
    height: 1rem;
    font-size: 0.6rem;
    color: var(--neutral-20);
    
}

.suscription-button{
    height: 2rem;
    width: 5.5rem;
    background-color: var(--neutral-20);
    border-radius: 1.5rem;
    border-style: none;
    font-size: 0.7rem;
    font-weight: bolder;
    color: var(--neutral-80);
    padding: 0.65rem;
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
    margin-left: 1rem;
}

.suscription-button:hover{
    background-color: var(--neutral-40);
}

.interaction{
    height: 2.5rem;
    width: 20rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 7rem;
    
}

.like{
    height: 2rem;
    width: 5rem;
    background-color: var(--neutral-90);
    border-radius: 1.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-style: none;
    border-right-style: solid;
    border-right-color: var(--neutral-50);
    border-right-width: 0.1rem;
    font-size: 0.7rem;
    font-weight: bolder;
    color: var(--neutral-00);
    padding-left: 1rem;
    background-image: url('red-social.png');
    background-repeat: no-repeat;
    background-position: 0.5rem;
    background-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    transition: all 300ms ease;
    
}

.like:hover{
    background-color: var(--neutral-80);
}

.dislike{
    height: 2rem;
    width: 2.75rem;
    background-color: var(--neutral-90);
    border-radius: 1.5rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-style: none;
    font-size: 0.65rem;
    font-weight: bolder;
    color: var(--neutral-00);
    background-image: url('dislike.png');
    background-repeat: no-repeat;
    background-position: 0.5rem;
    background-size: 1rem;
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
    padding-left: 2rem;
    
}

.dislike:hover{
    background-color: var(--neutral-80);
}


.reaction-button{
    height: 2rem;
    width: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.compartir-button{
    height: 2rem;
    width: 6rem;
    background-color: var(--neutral-90);
    border-radius: 1.5rem;
    border-style: none;
    font-size: 0.65rem;
    font-weight: bolder;
    color: var(--neutral-00);
    padding-left: 1rem;
    background-image: url('deshacer.png');
    background-repeat: no-repeat;
    background-position: 0.5rem;
    background-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    margin-left: 0.5rem;
    
}

.compartir-button:hover{
    background-color: var(--neutral-80);
}

.more-menu{
    height: 2rem;
    width:2rem;
    background-color: var(--neutral-90);
    border-radius: 10rem;
    border-style: none;
    background-image: url(menu-puntos.png);
    background-repeat: no-repeat;
    background-size:0.8rem;
    background-position: 0.6rem;
    padding: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    margin-left: 0.5rem;
}

.more-menu:hover{
    background-color: var(--neutral-80);
}

.caja-info{
    width: 44.2rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--neutral-80);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-left: 0.8rem;
    transition: all 300ms ease;
}

.caja-info:hover{
    background-color: var(--neutral-70);
}

.info-vistas{
    width: 44.2rem;
    height: 1rem;
    
}

.vistas-player{
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--neutral-00);
    
}

.owner-coment{
    width: 43rem;
    height: 100%;
    
    margin-top: 0rem;
}

.owner-coment-title{
    font-size: 0.7rem;
    color: var(--neutral-00);
}

.owner-coment-body{
    font-size: 0.7rem;
    color: var(--neutral-00);
    margin-top: 1rem;
}

/* Lista de sugerencias*/
.lista-videos{
    background-color: var(--neutral-100);
    padding-left: 5rem;
    padding-right: 6rem;
    width: 20rem;
    font-family: sans-serif;
    color: var(--neutral-00);
    display: flex;
    flex-direction: column;
}

.capsula-video{
    width: 21rem;
    height: 7.5rem;
    margin: 1rem;
    padding: .15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos{
    width: 19rem; 
    height: 5.5rem;
    background: var(--neutral-100);
    margin:1rem;
    border-radius: 0.2rem;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}



.menu-hover{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
    background-color: var(--neutral-100);
    margin: 0.3rem;
    visibility: hidden;
}

.videos .photo .time{
    height: 1rem;
    width: 2.3rem;
    border-radius: 0.25rem;
    background-color: var(--neutral-100);
    margin-right: 0.3rem;
    margin-top: 0.25rem;
    font-size: 0.65rem;
    font-weight: bold;
    color: var(--neutral-00);
    text-align: center;
    padding-top: 0.2rem;
}

.videos .photo{
    background-color: var(--brand-20);
    height: 5.5rem;
    width: 9rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: all 800ms ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    
}

/* info */

.videos .info{
    background-color: var(--neutral-100);
    padding-top: 0rem;
}

/* ¡Ya pude! :D */

div:hover .videos .menu-hover{
    visibility: visible;
}

div:hover .videos .menu-button button{
    visibility: visible;
}

/* */

.videos .datos-principales{
    
    background-color: var(--neutral-100);
    display: flex;
    flex-direction: column;
    transition: all 800ms ease;
}

.videos .info p{
    color: var(--neutral-100);
    margin-bottom: 1rem;
}


.videos .info .datos-principales .titles button{
    width: 8.5rem;
    font-size: 0.8rem;
    color: var(--neutral-00);
    background-color: var(--neutral-100);
    text-align: left;
    border-style: none;
    padding-left: 0.5rem;
}

.videos .menu-button button{
    background-color: var(--neutral-100);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100rem;
    border-style: none;
    color: var(--neutral-00);
    visibility: hidden;
    
}

.videos .info .datos-secundarios li {
    font-size: 0.6rem;
    color: var(--neutral-40);
    text-align: left;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    list-style: none;
}